altgraph==0.17.4
certifi==2023.7.22
charset-normalizer==3.3.0
idna==3.4
importlib-metadata==6.8.0
packaging==23.2
pefile==2023.2.7
pyinstaller==6.0.0
pyinstaller-hooks-contrib==2023.9
pywin32-ctypes==0.2.2
requests==2.29.0
schedule==1.2.0
urllib3==1.26.17
zipp==3.17.0
Pillow==9.5.0
ttkwidgets==0.13.0